.card-body {
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
}

.button-cursor {
    cursor: pointer;
}

.card {
    background-color: transparent;
    border: none;
    box-shadow: -5px 3px 10px #222;
}

.card-header {
    background-color: #222;
    color: white;
}