<div class="container mt-2 p-0">
    <div *ngIf="_categoryService.error()">
        <p style="color:crimson">{{ _categoryService.error() }}</p>
    </div>

    <div *ngIf="_categoryService.categories().length > 0">
        <div class="row justify-content-start text-center p-0">
            <div *ngFor="let c of _categoryService.categories()" class="col-md-4 col-sm-6 col-12 mt-3">
                <div class="card">
                    <div class="card-header p-3">
                        <h5 class="card-title">{{ c.category.name }}</h5>
                    </div>
                    <div class="card-body d-flex justify-content-center align-items-start">

                        <app-feedback [categoryId]="c.category.id"></app-feedback>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>