.card-body {
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
}

.button-cursor {
    cursor: pointer;
}

.card {
    background-color: transparent;
    border: none;
    box-shadow: -5px 3px 10px #222;
}

.card-header {
    background-color: #222;
    color: white;
}

.card-body::-webkit-scrollbar {
    width: 10px;
}

.card-body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
}

.card-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.card-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}