<button class="bg-white mb-2 p-2 open-modal-btn" (click)="openModal(categoryId)">
    + Yeni Görüş Ekle
</button>

<ng-container *ngFor="let feedback of _feedbackService.feedbacks()">
    <div class="card card-content mb-3" style="max-width: 18rem;"
        *ngIf="feedback.categoryId === categoryId && feedback.isDeleted === false">
        <div class="card-body">
            <ul class="list-group list-group-flush" style="border-radius: 10px;">
                <li class="list-group-item p-0">
                    <div class="row">
                        <div class="col-10 p-0">
                            {{ feedback.content }}
                        </div>
                        <div class="col-2 text-end">
                            <button class="feedback-icon" (click)="openCommentModal(feedback)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                </svg>
                            </button>

                            <div class="d-flex align-items-center mt-2">
                                <button class="feedback-icon me-1" (click)="voteFeedback(feedback)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z" />
                                    </svg>
                                    <div>
                                        {{feedback.score}}
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</ng-container>


<div class="modal" [attr.id]="'addFeedbackModal-' + categoryId" tabindex="-1" role="dialog"
    [attr.aria-labelledby]="'addFeedbackModal-' + categoryId">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFeedbackModal">Görüş Ekleyin</h5>
                <button type="button" class="close" (click)="closeModal()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea [(ngModel)]="newFeedbackContent" placeholder="Görüşünüzü giriniz..." rows="4"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">İptal</button>
                <button type="button" class="btn btn-primary" (click)="addFeedback()">Gönder</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" [attr.id]="'commentModal-' + categoryId" tabindex="-1" role="dialog"
    [attr.aria-labelledby]="'commentModal-' + categoryId">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModal">Görüşe Yorum Yapın</h5>
                <div class="modal-icons">
                    <button class="feedback-silme" (click)="deleteFeedback(feedbackIdForComment)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3"
                            viewBox="0 0 16 16">
                            <path
                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                        </svg>
                    </button>
                    <button type="button" class="close" (click)="closeCommentModal()">
                        <span>&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body mt-2">
                <div class="feedback-content">
                    <p><strong>{{ feedbackContent }}</strong></p>
                </div>
                <ng-container *ngFor="let comment of _feedbackService.comments()">
                    <div *ngIf="comment.feedbackId == feedbackIdForComment" class="comment-balloon">
                        {{comment.content}}
                    </div>
                </ng-container>
                <textarea [(ngModel)]="newMessageContent" placeholder="Yorumunuzu giriniz..." rows="4"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeCommentModal()">İptal</button>
                <button type="button" class="btn btn-primary" (click)="addComment()">Gönder</button>
            </div>
        </div>
    </div>
</div>